<body>
  <h1>Edit <%= item.name %></h1>
  <form action="/items/<%= item.id %>/edit" method="POST" id="edit">
    <input type="hidden" name="_method" value="PUT" />
    <input name="name" type="text" value ="<%= item.name %>" />
    <input name="price" type="text" value="<%= item.price %>" />    
    <select name="category_id" form="edit">
      <% categories.each do |category| %>
        <option value="<%= category.id %>"
        <% if category.name == item.categories.name %>
          selected
        <% end %>
        ><%= category.name %></option>
      <% end %>
    </select>
    <button type="submit">Update Item</button>
  </form>
</body>