<body>
  <h1>Edit <%= item.name %></h1>
  <form action="/items/<%= item.id %>/edit" method="POST" id="edit">
    <input type="hidden" name="_method" value="PUT" />
    <input name="name" type="text" value ="<%= item.name %>" />
    <input name="price" type="text" value="<%= item.price %>" />
    <div>
    <% categories_name = item.categories.map {|category| category.name} %>
    <% categories.each do |category| %> 
      <input type="checkbox" name="category_id[]" value="<%= category.id %>"
      <% if categories_name.include?(category.name) %>
        checked
      <% end %>
      >
      <label for="category_id"><%= category.name %></label><br>
    <% end %>  
    </div>
    
    <button type="submit">Update Item</button>
  </form>
</body>